annotated-types==0.7.0
choreographer==1.1.1
iniconfig==2.1.0
kaleido==1.1.0
logistro==1.1.0
matlib==0.1.2
narwhals==2.6.0
orjson==3.11.3
packaging==25.0
plotly==6.3.0
pluggy==1.6.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.2
pytest-timeout==2.4.0
simplejson==3.20.2
typing-inspection==0.4.1
typing_extensions==4.15.0
